// Menu.rc
// Resource file
// G. Inkpen 2007-8

// Ensure all sections of the Solution compile together properly
#include "D:\George\My Documents\UCE\Stellar Atlas\Stellar Atlas\Stellar Atlas.h"

// Creat the popup menus
IDR_MYMENU MENU		
BEGIN
    POPUP "&File"		// Name of Menu
    BEGIN
        MENUITEM "E&xit", ID_FILE_EXIT  // Popup menu item and 'return code'
    END

    POPUP "&Direction"		// Menu number two
    BEGIN
        MENUITEM "&North", ID_DIRECTION_NORTH		// Menu item
        MENUITEM "&East", ID_DIRECTION_EAST			// Menu item
        MENUITEM "&South", ID_DIRECTION_SOUTH		// Menu item
        MENUITEM "&West", ID_DIRECTION_WEST			// Menu item

    END
END

IDI_MYICON ICON "Star.ico"  // Add icon details for the icons for shortcuts etc

